<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>libraryJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>catalog</servlet-name>
    <servlet-class>fr.afpa.jee.libraryJEE.web.CatalogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>catalog</servlet-name>
    <url-pattern>/catalog</url-pattern>
    <url-pattern>/booksInCatalog</url-pattern>
    <url-pattern>/searchCatalogByName</url-pattern>
    <url-pattern>/addCatalog</url-pattern>
    <url-pattern>/deleteCatalog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>subscriber</servlet-name>
    <servlet-class>fr.afpa.jee.libraryJEE.web.SubscriberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>subscriber</servlet-name>
    <url-pattern>/subscriber</url-pattern>
    <url-pattern>/subscriberDetails</url-pattern>
    <url-pattern>/searchSubscriber</url-pattern>
    <url-pattern>/borrowsInSubscriber</url-pattern>
    <url-pattern>/addSubscriber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>book</servlet-name>
    <servlet-class>fr.afpa.jee.libraryJEE.web.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
    <url-pattern>/copiesInBooks</url-pattern>
    <url-pattern>/searchBookByName</url-pattern>
    <url-pattern>/bookDetails</url-pattern>
    <url-pattern>/nbCopies</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrow</servlet-name>
    <servlet-class>fr.afpa.jee.libraryJEE.web.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrow</servlet-name>
    <url-pattern>/borrow</url-pattern>
    <url-pattern>/booksInBorrow</url-pattern>
    <url-pattern>/subscriberBorrowing</url-pattern>
    <url-pattern>/copyBorrowed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>author</servlet-name>
    <servlet-class>fr.afpa.jee.libraryJEE.web.AuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>author</servlet-name>
    <url-pattern>/author</url-pattern>
    <url-pattern>/searchAuthorByName</url-pattern>
    <url-pattern>/booksInAuthor</url-pattern>
    <url-pattern>/getAuthorDetails</url-pattern>
    <url-pattern>/getAuthorSBooks</url-pattern>
  </servlet-mapping>
</web-app>